<div class="task-title-sections" id='task-header-in-progress'>
    <h2>Tasks In Progress</h2>
    <p>Find me in app/assets/templates/tasks/index.jst.haml</p>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody class="task-list" id="tasks-in-progress">
  </tbody>
</table>

<div >
</div>