<td>{{id}}</td>
<td>{{attributes.title}}</td>
<td>{{attributes.description}}</td>
{{#if attributes.complete}}
<td><input type="checkbox" checked="true"></input></td>
{{else}}
<td><input type="checkbox"></input></td>
{{/if}}